.stackable.menu {
    margin-bottom: 0px;
}

.glide__slide img {
    width: 100%;
}

/* Menu/Catering */
#menu {
    padding-top: 20px;
    padding-bottom: 20px;
}

#catering {
    margin: auto;
    width: 50%;
    text-align: center;
}

.column {
    text-align: center;
}

/* Contact */
#submitButton {
    border-radius: 8px;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Footer */
#footer {
    background-color: black;
    border-top: 2px solid black;
    padding: 20px;
    text-align: center;
}
#footer a {
    color: gray;
    font-size: 25px;
}
#footer p {
    color: gray;
}
#footer i.heart {
    color: darkred;
}
