.ui.segment {
    margin: 0;
    padding: 20px;
}
.ui.stackable.menu {
    margin: 0;
}

/* Nav */
#nav,
#nav .item {
    padding: 0;
}
#nav img {
    height: 100px;
    width: 75px;
}
#nav .right .item {
    padding: 10px;
}

/* Carousel */
#glide {
    top: -15px;
}
#glide .glide__slide img {
    width: 100%;
}

/* Menu/Contact */
#menu .price {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
}
#catering {
    padding-top: 20px;
}

/* Footer */
#footer {
    background-color: black;
    border-top: 2px solid black;
    padding: 20px;
    text-align: center;
}
#footer a {
    color: gray;
    font-size: 25px;
}
#footer p {
    color: gray;
}
#footer i.heart {
    color: darkred;
}
