.ui.segment {
    margin: 0;
    padding: 20px;
}
.ui.stackable.menu {
    margin: 0;
}

/* Nav */
#nav,
#nav .item {
    padding: 0;
}
#nav img {
    height: 100px;
    width: 75px;
}
#nav .right .item {
    padding: 10px;
}

/* Carousel */
#glide {
    top: -15px;
}
#glide .glide__slide img {
    height: auto;
    width: 100%;
}
/*.glide__slide img {*/
    /*height: 100%;*/
    /*max-width: 100%;*/
/*}*/

/* Menu/Contact */
#catering {
    padding-top: 20px;
}

/* Footer */
#footer {
    background-color: black;
    border-top: 2px solid black;
    padding: 20px;
    text-align: center;
}
#footer a {
    color: gray;
    font-size: 25px;
}
#footer p {
    color: gray;
}
